@font-face {
  font-family: 'OpenSans-Regular';
  src: url('~assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-display:swap;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('~assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-display:swap;
}
