// fonts
$font-regular: 'OpenSans-Regular', Helvetica, Arial, sans-serif;
$font-bold: 'OpenSans-Bold', Helvetica, Arial, sans-serif;


// colors
$black: #394556;
$white: #FFFFFF;
$grey-1: #EBEBEB;
$grey-2: #EEEEEE;
$grey-3: #C8D3DB;
$grey-4: #B2B6BA;
$primary: #15B0FC;
